<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../assets/main.css">
  <title>Document</title>
</head>

<body>

  <header class="border-bottom py-3">
    <div class="container py-2 d-flex align-items-center justify-content-between">
      <a class="text-decoration-none font-weight-bold h1 mb-0" href="/">LOGO</a>
      <nav class="d-flex align-items-center">
        <ul class="list-unstyled mb-0 d-flex align-items-center">
          <li>
            <a class="h5 text-decoration-none" href="/">Home</a>
          </li>
          <li>
            <a class="h5 text-decoration-none ml-3" href="/about">About</a>
          </li>
        </ul>
        <a class="btn btn-outline-success ml-4" href="/signup">SIGNUP</a>
        <a class="btn btn-outline-primary ml-2" href="/login">LOGIN</a>
      </nav>
    </div>
  </header>

  <main class="my-5">
    <div class="container">
      <span class="h4 mb-5">All news</span>
      <ul class="list-unstyled d-flex flex-wrap mt-4">
        <% for (let news of data) { %>
          <li class="wrapper mb-5">
            <div class="news-img-wrapper overflow-hidden rounded">
              <img class="news-img" src="../images/<%=news.img%>" width="500" height="350" alt="img">
            </div>
            <div class="news-content p-3 d-flex flex-column">
              <div class="mt-auto">
                <div class="d-flex justify-content-between mb-3">
                  <span class="w-25 bg-danger text-white rounded text-center">General</span>
                  <span class="text-white"><span class="pr-3">
                      <%=news.date[3]%>
                    </span>
                    <%=news.date[0]%>/<%=news.date[1]%>/<%=news.date[2]%>
                  </span>
                </div>
                <a class="h5 news-link text-decoration-none text-white line-clamp" href="/read-more/<%=news.id%>">
                  <%=news.title%>
                </a>
              </div>
            </div>
          </li>
          <% } %>
      </ul>
    </div>
  </main>

  <footer class="bg-light py-3">
    <div class="container d-flex align-items-center justify-content-between">
      <a class="text-decoration-none font-weight-bold h1 mb-0" href="/">LOGO</a>
      <span>© Copyright 2021</span>
      <ul class="list-unstyled d-flex align-items-center mb-0">
        <li>
          <a class="text-decoration-none" href="/">Telegram</a>
        </li>
        <li>
          <a class="text-decoration-none ml-3" href="/">Instagram</a>
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>