html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Mulish', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
}

.card-img-top {
  position: relative;
  z-index: 1;
}

.card-img-top::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: red;
  display: block;
  position: absolute;
  z-index: 20;
}

.news-img-wrapper {
  position: relative;
  z-index: 1;
  width: 350px !important;
  height: 350px !important;
}

.wrapper:hover .news-img {
  transform: scale(1.1) !important;
}

.wrapper .news-img {
  transition: all .5s ease-in-out;
}

.news-img-wrapper::before {
  position: absolute;
  z-index: 1;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrapper {
  position: relative;
  z-index: 1;
  width: 350px !important;
  margin-right: 30px;
}

.wrapper:nth-child(3n) {
  margin-right: 0;
}

.news-content {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.news-link::before {
  content: "";
  width: 100%; 
  height: 100%; 
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.line-clamp {
  height: 93px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}